.App {
  text-align: left;
}

.banner {
  width: 900px;
}

.professor {
  width: 900px;
}

.navbar {
  background-color: #343a40;
  height: 44px;
  padding: 0px;
  margin: 0px;
}

.navbar-brand {
  width: 95px;
  margin-left: 45px;
}

.brand {
  color: #e3e6e8;
}

.brand:hover {
  color: #e3e6e8;
  text-decoration: none;
}

.navbar-link {
  color: #e3e6e8;
  background-color: #5c6670;
  padding-top: 6px;
  margin: 2px;
  height: 36px;
  width: 180px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.navbar-link:hover {
  color: #e3e6e8;
  background-color: #818c98;
  text-decoration: none;
  font-weight: bold;
}

.navbar-link-selected {
  color: #e3e6e8;
  background-color: #be5e38;
  padding-top: 6px;
  margin: 2px;
  height: 36px;
  width: 180px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.navbar-link-selected:hover {
  color: #e3e6e8;
  text-decoration: none;
  font-weight: bold;
}

.container {
  margin: 10px;
}

.chart-title {
  font-size: 30px;
  text-align: middle;
}

.plot {
  width: 900px;
}

.dropdown {
  width: 900px;
}

.stats-table {
  width: 900px;
}

.radio {
  width: 900px;
  margin-top: 10px;
}

.radio-button {
  color: #343a40;
  background-color: #ffffff;
  border-color: #343a40;
  width: 200px;
}

.radio-button.btn.active.btn-primary {
  color: #ffffff;
  background-color: #838b96;
  border-color: #343a40;
  font-weight: bold;
  width: 200px;
}
