.App {
  text-align: left;
}

.banner {
  width: 900px;
}

.professor {
  width: 900px;
}

.navbar {
  background-color: #343a40;
  height: 44px;
  padding: 0px;
  margin: 0px;
}

.navbar-brand {
  width: 95px;
  margin-left: 45px;
}

.brand {
  color: #e3e6e8;
}

.brand:hover {
  color: #e3e6e8;
  text-decoration: none;
}

.navbar-link {
  color: #e3e6e8;
  background-color: #5c6670;
  padding-top: 6px;
  margin: 2px;
  height: 36px;
  width: 180px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.navbar-link:hover {
  color: #e3e6e8;
  background-color: #818c98;
  text-decoration: none;
  font-weight: bold;
}

.navbar-link-selected {
  color: #e3e6e8;
  background-color: #be5e38;
  padding-top: 6px;
  margin: 2px;
  height: 36px;
  width: 180px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.navbar-link-selected:hover {
  color: #e3e6e8;
  text-decoration: none;
  font-weight: bold;
}

.container {
  margin: 10px;
}

.chart-title {
  font-size: 30px;
  display: inline-block;
}

.plot {
  width: 900px;
}

.dropdown {
  width: 900px;
  border-width: 2px;
  border-radius: 0px;
}

.stats-table {
  width: 900px;
}

.radio {
  float: right;
  padding-top: 6px;
}

.radio-button {
  color: #343a40;
  background-color: #ffffff;
  border-color: #343a40;
  border-width: 2px;
  border-radius: 0px;
  width: 150px;
  font-size: 12px;
}

.radio-button.btn.active.btn-primary {
  color: #343a40;
  background-color: #c7ccd1;
  border-color: #343a40;
  font-weight: bold;
  width: 150px;
}

.header {
  width: 900px;
}

.dropdown, div[class$="control"] {
  border-width: 2px;
  border-color: #000000;
  border-radius: 1.5px;
}

.dropdown, div[class$="multiValue"] {
  background-color: #c7ccd1;
}
